body {
    background-color: #111;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(270deg, #ff0000, #000000);
    background-size: 400% 400%;
    animation: neonBackground 6s ease infinite, text-color-animation 6s ease infinite;
}

.container {
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.7);
    width: 90%;
    max-width: 900px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeInContainer 2s forwards;
}

@keyframes fadeInContainer {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}

h1 {
    color: #ff0000;
    font-size: 2.8rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #ff0000, 0 0 30px #ff0000, 0 0 50px #ff0000;
    animation: fadeInTitle 1.5s ease-in-out, text-color-animation 6s ease infinite;
}

@keyframes fadeInTitle {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0); }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: transparent;
    opacity: 0;
    animation: fadeInTable 2s ease-in-out 0.5s forwards;
}

@keyframes fadeInTable {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

td, th {
    padding: 12px 18px;
    border: 1px solid #ff0000;
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease;
    opacity: 0;
    animation: fadeInCell 1s ease-in-out forwards, text-color-animation 6s ease infinite;
}

@keyframes fadeInCell {
    0% { opacity: 0; transform: translateX(-30px); }
    100% { opacity: 1; transform: translateX(0); }
}

.color {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.7);
    margin: 0 auto;
}

td:hover {
    background-color: #333;
    transform: scale(1.05);
}

th {
    color: #ffffff;
    font-weight: 600;
    text-shadow: 0 0 10px #ff0000;
}

@keyframes neonBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes text-color-animation {
    0% {
        color: #FF0000;
    }
    50% {
        color: #FFFFFF;
    }
    100% {
        color: #FF0000;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    td, th {
        font-size: 1rem;
    }
}
